apiVersion: cert-manager.io/v1alpha2
kind: Issuer
metadata:
  name: letsencrypt
  namespace: nucleus-dev
spec:
  acme:
    # You must replace this email address with your own.
    # Let's Encrypt will use this to contact you about expiring
    # certificates, and issues related to your account.
    email: it-se@mozilla.com
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      # Secret resource used to store the account's private key.
      name: letsencrypt
    solvers:
      - dns01:
          route53:
            region: us-west-2
---
apiVersion: v1
kind: Service
metadata:
  name: nucleus-dev-ingress
  namespace: nucleus-dev
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: nucleus-dev
    type: web
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/issuer: letsencrypt
  name: nucleus-dev
  namespace: nucleus-dev
spec:
  rules:
    - host: "nucleus.dev.fr.moz.works"
      http:
        paths:
          - backend:
              serviceName: nucleus-dev-ingress
              servicePort: 8000
            path: /
  # This section is only required if TLS is to be enabled for the Ingress
  tls:
      - hosts:
          - "nucleus.dev.fr.moz.works"
        secretName: nucleus-tls
